{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TAB 1: PREPROCESSING [TV1] -->
{% include 'components/tab_preprocessing.html' %}

<!-- TAB 2: ROUGH SET & REDUCT [TV1] -->
{% include 'components/tab_roughset.html' %}

<!-- TAB 3: K-MEANS CLUSTERING [TV2] -->
{% include 'components/tab_kmeans.html' %}

<!-- TAB 4: APRIORI ASSOCIATION RULES [TV2] -->
{% include 'components/tab_apriori.html' %}

<!-- TAB 5: ID3 & NAIVE BAYES CLASSIFICATION [TV3] -->
{% include 'components/tab_classification.html' %}
{% endblock %}
